@{
    ViewBag.Title = "Advertising";
}

@Html.Partial("_VideoPartial")


@Html.Partial("_MagnetPartial")


<section class="convinced">
    <h2>STILL NOT CONVINCED? <br />HERE ARE 8 REASONS CHANGE YOUR MIND. <span></span></h2>
</section>

<section class="slices add-words">
    <div class="row">
        <div class="col-lg-11 center-block">
            <img src="~/Content/Images/reasons_bubbles_03.png" class="img-responsive" />
            @*<ul>
                    <li><span>Guaranteed Distribution</span> - By teaming up with Pizza Solution and their pizzeria partnerships, you will no longer have to worry about the manner in which you name is getting out to yours customers. Hand delivered, happily accepted with a delicious meal, and hung up on the fridge for years to come, our magnets are sure to help your business become a household name. Oh, and all of our agreements were brought about via signature, recorded conversation, or online commitment by a representative of the distributing company.</li>
                    <li><span>Exclusive Advertising</span> - Your business is the sole advertiser on your pizza magnets. Yes, the pizzeria does headline the magnets.. However, you get to take advantage of a great deal with another local progressive business, all while keeping your competition out of the limelight. It's just you and the pizza place on there. See, we take pride in our ability to connect companies from complimentary industries and form relationships between local leading businesses.</li>
                    <li><span>Constant Exposure</span> - Advertising is all about exposure. The name of the game is getting yours out there and making sure people remember you. How do you get people to remember you? You remind them! Every single day on a magnet stuck to the fridge in the most used room of the house.</li>
                    <li><span>Shelf Life</span> - Magnets tend to stick around for awhile. 83% of specialty advertising products are kept by consumers because of their usability. Magnets are useful. From holding up photographs and report cards to love notes and reminders, people like to be proud. Also by being seen 24/7, 365 days a year is how you create top of mind awareness and begin to build recognition for you brand.</li>
                    <li><span>Track-able ROI</span> - Your advertising dollars are important to keep track of, which is why we like to feature a tracker line on every one of our magnets. We want to show you how our marketing of over 40 years continues to prove successful.</li>
                    <li><span>One-Time Investment</span> - It's a one-time investment yielding years of exposure for your business. You're not simply purchasing a magnet, you're buying into the success of your brand and laying the groundwork for future engagements.</li>
                    <li><span>Target Marketing</span> - 93% of American consumers eat pizza at least once a month. These are your customers! What better market to target than the 4.9 billion dollar industry with the most loyal consumer base? Reach the right customers in the most sought after arena in marketing, the family home.</li>
                    <li><span>Repeat Exposure</span> - As a business owner, you want your business name and brand to be on the top of everyone's mind in your community. The whole point of advertising is getting your ad seen by as many people possible in the most amount of places the greatest number of times by those same people, and our magnets make that possible without hassle of spending too much money.</li>
                </ul>*@
        </div>
    </div>
</section>

@Html.Partial("_EmailContact")

@section Scripts {

 
}
