@{
    ViewBag.Title = "Advertising";
}

@Html.Partial("_VideoPartial")


@Html.Partial("_MagnetPartial")


<section class="convinced">
    <h2>STILL NOT CONVINCED? <br />HERE ARE 8 REASONS CHANGE YOUR MIND. <span></span></h2>
</section>

<section class="slices add-words">
    <div class="row">
        <div class="col-lg-11 center-block relative">
            <img src="~/Content/Images/reasons_bubbles_03.png" class="img-responsive" />
        </div>
    </div>
</section>

@Html.Partial("_EmailContact")

@section Scripts {
    <script>
        $("#emailContact").validate();
    </script>
}


