
@{
    ViewBag.Title = "Magnets";
}

@Html.Partial("_VideoPartial")

<section class="build-brand">
    <h2 class="text-center emergency">EMERGENCY MAGNETS EMERGENCY MAGNETS</h2>
</section>

<section class="clients">
    <div class="row">
        <div class="col-lg-7 center-block">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Papa-Johns---Hopper-Properties-Realtor-(1).png" class="img-responsive" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Pizza-Hut---Coldwell-Banker-(1).png" class="img-responsive" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Dominos-Pizza---Emergency.png" class="img-responsive" />
            </div>
        </div>
    </div>
</section>

<section class="build-brand">
    <h2 class="text-center emergency calendar">CALENDAR MAGNETS CALENDAR MAGNETS</h2>
</section>

<section class="clients">
    <div class="row">
        <div class="col-lg-7 center-block">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/hungry-howies-calendar.png" class="img-responsive" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Pizza-Hut---Calendar.png" class="img-responsive" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Dominos-Pizza---Cal.png" class="img-responsive" />
            </div>
        </div>
    </div>
</section>

<section class="build-brand">
    <h2 class="emergency calendar kitchen">KITCHEN CONVERSION MEASUREMENT MAGNETS</h2>
</section>


<section class="clients">
    <div class="row">
        <div class="col-lg-7 center-block">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Papa-Johns---Kitchen-Conversion.png" class="img-responsive" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Pizza-Magnet---Kitchen-Conversion.png" class="img-responsive" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Rosa---Kitchen-Conversion.png" class="img-responsive" />
            </div>
        </div>
    </div>
</section>

<section class="build-brand">
    <h2 class="text-center emergency calendar kitchen schedule">SCHEDULE MAGNETS SCHEDULE MAGNETS</h2>
</section>

<section class="clients">
    <div class="row">
        <div class="col-lg-7 center-block">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Angie-Grace---Keller-Williams.png" class="img-responsive" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Mama's-Pizza-_-Cowboys-Sch.png" class="img-responsive" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/Angie-Thomas---Keller-Williams.png" class="img-responsive" />
            </div>
        </div>
    </div>
</section>

@*<section class="build-brand">
        <h2 class="text-center">YES, WE KNOW...YOU MAKE GREAT PIZZA<br /> LET US BUILD YOUR BRAND!<span></span></h2>
    </section>*@

@Html.Partial("_EmailContact")


