
@{
    ViewBag.Title = "Magnets";
}

@Html.Partial("_VideoPartial")

<section class="clients">
    <div class="row">
        <div class="col-lg-7 center-block">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/hungry-howies-magnet_03.png" class="img-responsive" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/pizza-hut-magnet_06.png" class="img-responsive" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/dominos-magnet_06.png" class="img-responsive" />
            </div>
        </div>
    </div>    
</section>

<section class="build-brand">
    <h2 class="text-center">YES, WE KNOW...YOU MAKE GREAT PIZZA<br /> LET US BUILD YOUR BRAND!<span></span></h2>
</section>
