
@{
    ViewBag.Title = "MessageSend";
}

<div class="row" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="col-lg-8 center-block">
        <video controls autoplay>
            <source src="~/Content/Video/Thank_You.mp4" type="video/mp4">
        </video>
    </div>
</div>

