
@{
    ViewBag.Title = "Partnership";
}
<section class="partnership">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-push-7 col-md-5 col-md-push-7 col-lg-5 col-lg-push-7 no-gutters">
            <h2>Agreement<span></span></h2>
        </div>
    </div>
    <div class="row community-guide p-bottom-50 ">
        <div class="col-lg-11 center-block">
            <h3>Sign Up</h3>
            @Html.Partial("_PartnershipAgreementPartial")
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 no-gutters">
                <img id="img" src="/Content/Images/agreement-magnet_03.png" class="img-responsive center-block" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                <p class="p-top-50">This agreement confirms that Pizza Solutions will provide FREE CUSTOM COMMUNITY GUIDE MAGNETS in accordance with the terms of this agreement.</p>
                <p>This agreement will go into effect upon examination of e-signatures and will remain in effect until one or both parties elect to terminate agreement in writing. The undersigned represents that he/she has been duly authorized to enter into this agreement and grants Pizza Solutions limited authorization to use the organization's name solely for the purpose of acquiring sponsorship from local businesses or organizations that may be interested in supporting the Custom Community Guide.</p>
                <p>Depending on local business participation and support, under this agreement Pizza Solutions will provide up to, but no obligated to 1000 large, "4 x 6" high quality magnets on an as-needed or quarterly basis that will be distributed to your customers upon delivery of pizza. This is a COST FREE program for your company and will feature your business large and bold as the headliner on our Customer Community Guide.</p>
                <p>In addition to allowing Pizza Solutions to use your name as a distributor point, we also ask that you affirm to local businesses, if asked, that you have endorsed the Custom Guide, and that their participation is very worthwhile in this advertising campaign.</p>
                <p>Thank you for your support.</p>
                <img src="@Url.Content("/Content/Images/logo_02.png")" class="img-responsive" />
            </div>
        </div>
    </div>
</section>

@Html.Partial("_EmailContact")

@section Scripts {
    <script>
        $("#partnershipAgreement").validate();
        $("#emailContact").validate();
    </script>
}


