
@{
    ViewBag.Title = "Pizza Solutions";
}

<section class="splash">
    <div class="row">
        <div class="col-lg-10 center-block bricks">
            <div class="col-lg-8 center-block">
                <img src="@Url.Content("/Content/Images/Splash/Pizza_02.png")" class="img-responsive" />
                <div class="col-lg-5 center-block">
                    <img src="@Url.Content("/Content/Images/logo_02.png")" class="img-responsive" />
                </div>
                <div class="col-lg-4 col-lg-push-1">
                    @Html.ActionLink("ADVERTISERS", "Home", "Index", new { @class = "btn double-border" })
                </div>
                <div class="col-lg-4 col-lg-pull-1">
                    @Html.ActionLink("ADVERTISERS", "Home", "Index", new { @class = "btn double-border" })
                </div>
            </div>
        </div>
    </div>
</section>

