@font-face {
  font-family: 'futura_bk_btbook';
  src: url("Fonts/futuran-webfont.woff2") format("woff2"), url("Fonts/futuran-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.navbar-inverse {
  background-color: #000;
  height: 110px; }
  @media (max-width: 767px) {
    .navbar-inverse {
      height: 85px; } }
  .navbar-inverse .navbar-toggle:hover {
    background-color: transparent; }
  .navbar-inverse .navbar-toggle:focus {
    background-color: transparent; }
  .navbar-inverse .border-bottom {
    background-color: #ed1c24;
    position: absolute;
    bottom: -30px;
    width: 100%; }
    .navbar-inverse .border-bottom p {
      transform: translate(-20%, 0);
      padding: 0;
      margin: 0;
      color: #fff;
      font-size: 24px;
      letter-spacing: 1px;
      font-family: "Impact"; }
      @media (min-width: 590px) and (max-width: 767px) {
        .navbar-inverse .border-bottom p {
          transform: translate(-1.5%, 0%);
          padding: 5px 0;
          font-size: 2.5vw; } }
      @media (min-width: 480px) and (max-width: 588px) {
        .navbar-inverse .border-bottom p {
          font-size: 2.9vw;
          transform: translate(-1%, 0);
          padding: 5px 0; } }
      @media (min-width: 360px) and (max-width: 479px) {
        .navbar-inverse .border-bottom p {
          font-size: 4.5vw;
          padding: 5px 0;
          transform: translate(-3.5%, 0); } }

@media (max-width: 767px) {
  nav {
    padding-left: inherit; } }

nav ul li {
  display: inline-block !important;
  padding: 7px; }
  @media (max-width: 1100px) and (min-width: 768px) {
    nav ul li {
      padding: 7px 4px; } }
  @media (max-width: 767px) {
    nav ul li {
      display: block !important;
      padding: 15px 0;
      font-size: 18px;
      border-bottom: solid 1px #d4d4d4; } }
  nav ul li a {
    color: #fff; }
    @media (max-width: 767px) {
      nav ul li a {
        font-size: 28px; } }
    nav ul li a:hover, nav ul li a:focus {
      color: #fff;
      opacity: .8;
      text-decoration: none; }

@media (min-width: 1024px) and (max-width: 2300px) {
  .navbar-nav {
    transform: translate(0, 85%); } }

@media (min-width: 900px) and (max-width: 1023px) {
  .navbar-nav {
    transform: translate(-5%, 85%); } }

@media (min-width: 768px) and (max-width: 899px) {
  .navbar-nav {
    transform: translate(-14%, 85%); } }

@media (min-width: 481px) and (max-width: 767px) {
  .navbar-nav {
    margin-top: -5px;
    margin-left: 2em;
    font-size: 24px; } }

@media (max-width: 480px) {
  .navbar-nav {
    margin-left: 1.4em; } }

.navbar-nav input {
  position: absolute;
  top: -20px;
  width: 200px;
  left: 16%;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #000; }
  @media (max-width: 767px) {
    .navbar-nav input {
      position: relative;
      left: 8%;
      margin-top: 35px; } }
  @media (max-width: 480px) {
    .navbar-nav input {
      left: 10%; } }

.navbar-nav span {
  position: absolute;
  top: -19.7px;
  width: 35px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  right: 53.2%;
  background-color: #ed1c24;
  height: 25.5px; }
  @media (min-width: 1024px) and (max-width: 1200px) {
    .navbar-nav span {
      right: 51.5%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .navbar-nav span {
      right: 42.2%; } }
  @media (max-width: 767px) {
    .navbar-nav span {
      position: relative;
      left: 8%;
      top: -17.9px;
      height: 41.5px; } }
  @media (max-width: 480px) {
    .navbar-nav span {
      height: 26.5px; } }
  .navbar-nav span.glyphicon {
    padding: 5px;
    color: #000; }

.navbar-nav ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  padding-left: 5px; }

.navbar-nav :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  padding-left: 5px; }

.navbar-nav ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  padding-left: 5px; }

@font-face {
  font-family: 'futura_bk_btbook';
  src: url("Fonts/futuran-webfont.woff2") format("woff2"), url("Fonts/futuran-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

nav ul {
  padding-top: 0;
  list-style-type: none; }

.menu-open {
  height: 9999px;
  overflow: hidden; }

.menu-open nav {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.menu {
  -webkit-transition: 0.1s -webkit-transform linear;
  transition: 0.1s -webkit-transform linear;
  transition: 0.1s transform linear;
  transition: 0.1s transform linear, 0.1s -webkit-transform linear;
  position: relative;
  background: 0;
  float: left;
  margin: 1rem;
  height: 2.7rem;
  width: 3.5rem;
  z-index: 1;
  outline: 0;
  padding: 0;
  border: 0;
  cursor: pointer; }

nav {
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91), -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }
  @media (max-width: 767px) {
    nav {
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: #000;
      -webkit-transform: translateX(-9999px);
      transform: translateX(-9999px);
      padding-top: 2.2rem; } }

.bar, .bar::before, .bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear, 0.2s -webkit-transform linear;
  position: absolute;
  background: #fff;
  margin: auto;
  width: 100%;
  height: 0.5rem;
  content: '';
  top: 50%;
  left: 0; }

.bar {
  margin-top: 1.2rem;
  width: 55px; }

.bar::before {
  top: -2rem; }

.bar::after {
  top: 2rem; }

.bar::before, .bar::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.active .bar {
  background: 0; }

.active .bar::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.active .bar::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.active .bar::before, .active .bar::after {
  top: 0; }

.active .bar, .active .bar::before, .active .bar::after {
  -webkit-transition: 0.4s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
  transition: 0.4s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
  transition: 0.4s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
  transition: 0.4s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s, 0.2s -webkit-transform linear 0.2s; }

body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

