<section id="advertiser-header" class="advertiser-header slices">
    <h2 id="header-2"></h2>
    <div class="row">
        <div class="col-md-9 col-lg-8 center-block black-box">
            <h3 id="header-3" class="text-center font-white"></h3>
            <p id="para1" class="text-center font-red"></p>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img id="img" src="" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p id="para2" class="text-center font-white ad-body"></p>
                <p id="para3" class="text-center font-white ad-body"></p>
                <p id="para4" class="font-white text-center ad-body"></p>
                <p id="para5" class="text-center font-white ad-body"></p>
                <p id="para6" class="text-center font-white ad-body"></p>
                <div class="btn-wrapper">
                    <div id="button"></div>
                </div>
            </div>
        </div>
    </div>
</section>
