<section class="container-fluid">
    <div class="social">
        <ul>
            <li><a href="https://www.facebook.com/uacpizzasolutions/" target="_blank"><img src="~/Content/Images/Facebook.png"></a></li>
            <li><a href="https://www.instagram.com/uac_advertising/" target="_blank"><img src="~/Content/Images/Instagrame_05.png"></a></li>
        </ul>
    </div>
</section>

