<section class="partners">
    <div class="row">
        <div class="col-lg-10 center-block">
            <div class="col-lg-8 center-block">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/1nYJJaWs_bQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
