@import 'Typography.scss';

.hand-out {
    background-color: $font-white;

    .row {
        @media (min-width: 1350px) {
            max-width: 1263px;
            margin: 0 auto;
        }
    }

    img {

        @media (max-width: 767px) {
            margin: 0 auto;
        }

        &.guy {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            max-width: 410px;
            z-index: 10;

            @media (max-width: 900px) and (min-width: 767px) {
                width: 350px;
            }

            @media (max-width: 480px) {
                max-width: 350px;
            }

            @media (max-width: 375px) {
                max-width: 290px;
            }
        }

        &.out {
            position: absolute;
            top: -60px;
            left: 40px;
            width: 100%;
            max-width: 410px;
            z-index: 5;

            @media (max-width: 1024px) and (min-width: 900px) {
                left: 0;
                max-width: 390px;
                top: -33px;
            }

            @media (max-width: 900px) and (min-width: 767px) {
                left: -10px;
                top: 0;
                max-width: 350px;
            }

            @media (max-width: 767px) {
                top: -18px;
            }

            @media (max-width: 600px) {
                left: -1px;
                max-width: 380px;
            }

            @media (max-width: 480px) {
                max-width: 280px;
                top: 0;
            }

            @media (max-width: 375px) {
                max-width: 230px;
            }
        }

        &.calendar {
            position: absolute;
            left: 2px;
            bottom: 0;
            width: 100%;
            max-width: 480px;
            z-index: 0;

            @media (max-width: 900px) and (min-width: 767px) {
                max-width: 370px;
            }

            @media (max-width: 480px) {
                max-width: 310px;
            }
        }
    }

    p {
        font-size: 1.3em;
        font-family: $futura-bt-condensed;
    }

    .slogan-section {
        height: 480px;

        @media (max-width: 767px) {
            margin-bottom: 25px;
            height: 500px;
        }

        @media (max-width: 480px) {
            height: 410px;
        }

        @media (max-width: 375px) {
            height: 350px;
        }
    }
}

.convinced {
    background-color: #ed1d24;

    h2 {
        font-family: $myriad_pro_regular;
        font-size: 4.5em;
        font-weight: bold;
        color: #000;
        margin: 0;
        padding: 15px 0;

        @media (max-width: 1100px) {
            font-size: 5.7vw;
        }
    }
}

.reasons {
    &.bricks {
        background-image: url("/Content/Images/Splash/Brick_Background_02.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 25px 0;
    }

    .row {
        @media (min-width: 1350px) {
            max-width: 1263px;
            margin: 0 auto;
        }
    }
}
