@import 'Typography.scss';

.advertiser-header {
    position: relative;
    padding: 15px 0;
    height: 100%;

    h2 {
        background-color: #000;
        color: #ed1c24;
        font-size: 4.4vw;
        font-family: $myriad_pro_regular_boldit;
        text-transform: uppercase;
        word-spacing: 35px;
        text-align: center;
        margin-top: 0;

        &:after {
            content: '///';
            position: absolute;
            right: 2%;
            top: -5px;
            font-size: 7vw;
            letter-spacing: -6px;

            @media (min-width: 1400px) {
                font-size: 6vw;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }

        span {
            color: #3d0709;
        }
    }

    .black-box {
        background-color: #000;
        border-radius: 15px;
        padding: 5px;
        height: 465px;

        @media (min-width: 1400px) {
            height: 550px;
        }

        @media (max-width: 767px) {
            height: 100%;
        }

        img {
            @media (min-width: 1400px) {
                margin: 0 auto;
                display: block;
                float: none;
            }

            @media (max-width: 767px) {
                margin: 0 auto;
                display: block;
                float: none;
            }
        }

        h3 {
            font-family: $futura_bt_extra_black;
            font-size: 3vw;

            @media (max-width: 480px) {
                font-size: 4vw;
            }
        }

        p {
            border-top: solid 2px $font-red;
            margin: 0 15px;
            font-family: $futura-bt-condensed;
            font-size: 1.7vw;
            margin-bottom: 10px;

            @media (max-width: 767px) {
                font-size: 2.7vw;
            }
        }

        .ad-body {
            border-top: none;
            font-family: $myriad_pro_regular;
            font-size: 14px;

            @media (min-width: 1400px) {
                font-size: 17px;
            }
        }
    }

    #para2 {
        @media (max-width: 767px) {
            margin-top: 25px;
        }
    }
}

.convinced {
    position: relative;

    h2 {
        color: #ed1c24;
        font-size: 4.4vw;
        font-family: $myriad_pro_regular_boldit;
        z-index: 5;
        margin: 0 5px;

        &:before {
            content: 'STILL NOT CONVINCED?';
            position: absolute;
            top: 0;
            left: 15%;
            color: #3d0709;
            z-index: -1;
        }

        &:after {
            content: '///';
            position: absolute;
            right: 4%;
            top: -58px;
            font-size: 15.3vw;
            letter-spacing: -28px;

            @media (min-width: 768px) and (max-width: 1200px) {
                top: -37px;
                letter-spacing: -21px;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        span {
            &:before {
                content: 'HERE ARE 8 REASON TO CHANGE YOUR MIND.';
                position: absolute;
                bottom: 0;
                left: 9%;
                font-size: 4.4vw;
                color: #3d0709;
                z-index: -1;
            }
        }
    }
}

.add-words {
    height: 100%;
    padding: 25px 0;
    background-image: url('Images/Backgrounds/pizza-slice-bg_03.png');

    .black-box {
        background-color: #000;
        border-radius: 15px;
        padding: 15px;
        height: 100%;

        ul {
            li {
                color: $font-white;
                font-family: $myriad_pro_regular;

                @media (min-width: 1400px) {
                    font-size: 17px;
                }

                span {
                    color: $font-red;
                }
            }
        }
    }

    .one {
        position: absolute;
        top: 2%;
        left: 21%;
        width: 23%;
        padding: 15px;
        font-size: 18.2px;

        h3 {
            font-size: 45px;
            font-family: $furara_md_btbold;
        }
    }
}