@import 'Typography.scss';

.advertiser-header {

    &.distributors {
        h2 {
            word-spacing: -1px;

            &:after {
                right: 1%;
                top: -5px;
                font-size: 7vw;

                @media (min-width: 1400px) {
                    top: -11px;
                }
            }
        }

        .black-box {
            height: 500px;

            @media (min-width: 1600px) {
                height: 650px !important;
            }

            @media (min-width: 1400px) {
                height: 550px;
            }
            
            @media (max-width: 767px) {
                height: 100%;
            }

            .btn {
                display: block;
                max-width: 200px;
                font-family: $futura-bt-book;

                &.red {
                    background-color: $font-red;
                    color: $font-white;
                    margin:  0 auto;
                }
            }
        }
        
        p {
            text-align: left;
        }
    }
}
