@import 'Typography.scss';

.advertiser-header {

    &.distributors {
        h2 {
            word-spacing: -1px;

            &:after {
                right: 1%;
                top: -5px;
                font-size: 7vw;
            }
        }

        .black-box {
            height: 450px;

            @media (min-width: 1600px) {
                height: 650px !important;
            }

            @media (min-width: 1400px) {
                height: 550px;
            }
            
            @media (max-width: 767px) {
                height: 100%;
            }
        }
        
        p {
            text-align: left;
        }
    }
}
