@import 'Typography.scss';
.center-block {
    margin: 0 auto;
    display: block;
    float: none;
}

.row {
    margin-right: 0;
    margin-left: 0;
    height: inherit;
    z-index: -5;
}

.container-fluid {
    z-index: 5;
}

section {
    z-index: 10;
}

.no-gutters {
    padding-left: 0;
    padding-right: 0;
}

.font-white {
    color: $font-white;
}

.font-red {
    color: $font-red;
}

.relative {
    position: relative;
}

.error {
    color: $font-red !important;
}

.p-bottom-25 {
    padding-bottom: 25px;
}

.p-top-50 {
    padding-top: 50px;
}

.m-top-25 {
    margin-top: 25px;
}

.p-bottom-15 {
    padding-bottom: 15px;
}
