@import 'Typography.scss';

.pageheading {
    background-color: $font-white;
    padding-top: 89px;
    padding-bottom: 25px;

    @media (max-width: 767px) {
        padding-top: 59px;
        padding-bottom: 25px;
        margin-bottom: -1px;
    }

    h2 {
        position: relative;
        background-color: #000;
        padding: 15px;
        font-family: $myriad_pro_regular_boldit;
        font-style: italic;
        font-size: 2.4em;
        color: $font-white;

        &:after {
            content: '';
            position: absolute;
            right: 12px;
            bottom: 4px;
            width: 100px;
            height: 3px;
            background-color: $font-white;
        }

        &:before {
            content: '';
            position: absolute;
            right: 109px;
            transform: skew(-62deg, 0deg);
            height: 3px;
            width: 8px;
            bottom: 4px;
            background-color: #fff;
        }

        span {
            position: absolute;
            right: 9px;
            transform: skew(62deg, 0deg);
            height: 3px;
            width: 8px;
            bottom: 4px;
            background-color: #fff;
        }
    }

    .col-xs-8 {
        @media (max-width: 767px) {
            float: right;
        }
    }
}

.contact-email {
    background-color: #000;

    h3 {
        font-size: 35px;
        font-family: "futura_hv_btheavy";
    }

    .form-horizontal {

        .form-group {
            label, p {
                color: $font-white;
                font-family: $futura-bt-book;
            }

            input[type="checkbox"] {
                vertical-align: top;
                margin-left: 5px;
            }
        }
    }
}

video {
    width: 100%;
}
