/*.modal-dialog {
    width: 900px;

    @media (max-width: 900px) {
        width: 100% !important;
    }

    .modal-header {
        border: 0;*/
/*}*/

/*}*/

#error, #Parterror {
    color: red;
}

#success, #Partsuccess {
    color: green;
}
