.modal-dialog {
    width: 900px;

    @media (max-width: 900px) {
        width: 100% !important;
    }

    .modal-header {
        border: 0;
    }
        
        .disclaimer {
        background-color: #d4d4d4;
        height: 250px;
        overflow: scroll;
        padding: 5px;

        ul {
            list-style-type: decimal;

            .special {
                font-weight: 900;
            }
        }

        h5 {
            font-size: 24px;
            font-weight: 900;
        }
    }

    .form-horizontal {
        padding: 15px 0;
    }
}

#error {
    color: red;
}

#success {
    color: green;
}
