@import 'Typography.scss';

.advertiser-header {

    &.partnership {
        color: #fff;

        h2 {
            position: relative;
            text-align: right;
            padding-right: 105px;
            z-index: 5;

            @media (max-width: 768px) {
                padding-right: 0;
            }

            &:before {
                content: 'PARTNERSHIP AGREEMENT';
                position: absolute;
                bottom: 0;
                left: 0;
                color: #3d0709;
                z-index: -1;
            }

            &:after {
                top: -23px;

                @media (min-width: 1400px) {
                    right: 1%;
                }
            }
        }

        .black-box {
            height: 100%;
            padding-bottom: 25px;

            h3 {
                @media (max-width: 480px) {
                    font-size: 10vw;
                }
            }

            p {
                border-top: none;
                font-family: $myriad_pro_regular;
                font-size: 14px;
                text-align: left;
            }

            &.row {
                margin-right: auto;
                margin-left: auto;
                z-index: auto;
            }

            img {
                max-width: 448px;
                width: 100%;
            }
        }
    }
}

.disclaimer {
    background-color: #d4d4d4;
    height: 250px;
    overflow: scroll;
    padding: 5px;
    color: #000;

    ul {
        list-style-type: decimal;

        .special {
            font-weight: 900;
        }
    }

    h5 {
        font-size: 24px;
        font-weight: 900;
    }
}

.form-horizontal {
    padding: 15px 0;
}
