@import 'Typography.scss';

.productModal {

    .modal-header {
        .close {
            margin-top: -72px;
        }
    }

    .modal-title {
        font-size: 3em;
        font-family: $futura_bt_extra_black;
    }

    .product-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -200%);
        margin-bottom: 75px;
        max-width: 90px;

        &.back {
            max-width: 140px;
            transform: translate(-45%, -260%);
        }

        &.cup {
            max-width: 120px;
            transform: translate(-45%, -100%);
        }

        &.tote {
            transform: translate(-55%, -120%);
            max-width: 140px;
        }

        &.tote-back {
            transform: translate(-55%, -75%);
            max-width: 90px;
        }

        &.koosie {
            max-width: 180px;
            transform: translate(-63%, -70%);
        }
    }

    ul {
        list-style-type: none;
        padding-left: 25px;

        li {
            display: inline-block;
            border: 3px inset #d4d4d4;
            padding: 5px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            &.red {
                background-color: #a70415;
            }

            &.gray {
                background-color: #b0afb5;
            }

            &.black {
                background-color: #13161b;
            }

            &.white {
                background-color: white;
            }

            &.green {
                background-color: green;
            }

            &.canvas {
                background-color: #c9b67b;
            }

            &.blue {
                background-color: blue;
            }

            &.orange {
                background-color: orange;
            }
        }
    }

    .ModalProductsImage {
        max-height: 388px;
        margin: 0 auto 15px auto;
        cursor: pointer;
    }

    .btn {
        width: 100%;
    }
}
